.wrapper_with_padding
  #docs.clearfix
    - unless @docs.blank?
      -  @docs.each do |doc|
        %a{ href: (url_for [doc]) }
          %p.title= doc.title
          %p.date= time_ago_in_words(doc.created_at)
          %p.content= truncate(doc.content, length: 70)

    - else
      %h2 Create a Doc!
      %p Start Creating Documents and Organizing Your Life!
