#banner 
  .banner_content
    %h1 FileCabinet
    %p Your files always organized.

    %button= link_to "Create a Account", new_user_registration_path

#callouts
  .callout_inner
    .wrapper  
      .callout 
        %h2 Organize 
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id enim non ante ornare molestie ut eu velit. Nullam faucibus mi et felis auctor, facilisis accumsan odio rhoncus. Integer consectetur, ante cursus condimentum tempus, sapien neque fringilla quam, ac ornare sem quam eget mi.  Vestibulum venenatis magna non mauris volutpat maximus. Curabitur congue libero eget nisl lobortis volutpat. Praesent orci turpis, porta eu porttitor eget, viverra malesuada magna. Mauris fermentum ullamcorper tellus ac condimentum. Etiam malesuada nec tellus eget vulputate. Aliquam egestas erat ac odio imperdiet, quis gravida velit convallis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

#bottom_cta
  .wrapper 
    %h2 Go Ahead!
    %br 
    %button= link_to "Join Now", new_user_registration_path
